@charset "UTF-8";
/*  Обнуление стилей by Stas Bagretsov */
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.wrap {
  max-width: 1440px;
  background-color: #222021;
  margin: auto;
}

.lines-bg {
  background-image: url(../../images/lines.svg);
  background-repeat: no-repeat;
  z-index: 1;
}

.container {
  padding-left: 64px;
  padding-right: 64px;
}

.header {
  background-image: url(../../images/wood-bg-desktop.png);
  background-repeat: no-repeat;
  margin: auto;
  height: 1500px;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 36px;
  padding-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__logo {
  width: 200px;
  height: 82px;
}

.header-top__nav-list {
  margin-right: 52px;
  width: 605px;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.header-top__nav-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

img {
  max-width: 100%;
}

a {
  color: white;
  list-style-type: none;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */